# kNN Based Recommender Engine

## Data Source and Contents

In [60]:
# import packages
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [61]:
# read dataset
df = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')

In [62]:
# inspect dataset
df.head()

   Movie ID          Movie Name  IMDB Rating  ...  Mystery  History  Label
0        58  The Imitation Game          8.0  ...        0        0      0
1         8          Ex Machina          7.7  ...        1        0      0
2        46    A Beautiful Mind          8.2  ...        0        0      0
3        62   Good Will Hunting          8.3  ...        0        0      0
4        97        Forrest Gump          8.8  ...        0        0      0

[5 rows x 11 columns]

In [63]:
# feature matrices
X = df.iloc[:, 2:-1]
y = df['Movie Name']

## kNN Model

In [64]:
# feature vector for The Post
the_post = [7.2, 1, 1, 0, 0, 0, 0, 1, 0]

In [73]:
# Nearest Neighbor model
knn = NearestNeighbors(n_neighbors = 5)
knn.fit(X, y)
pred = (knn.kneighbors(the_post, return_distance = False))
pred

array([[28, 27, 29, 16,  2]])

## What recommendations will you see?

In [78]:
# return top 5 recommendations
for x in pred:
  print("Top picks for you:")
  print(df.iloc[x]['Movie Name'])

Top picks for you:
28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object